@import "global"
.logoPlaceholder
  height: 5rem

/*.bodyLogin
  background-image: url("/img/uk_dorset.jpg")
  background-size: cover
  background-color: $bkg-base
/* opacity: 0.2

/*.bodyBackgroundColor

  opacity: 0.5

.loginMask
  opacity: unset
  display: flex
  flex-direction: column
  width: 70%
  height: 100vh
  margin: auto
  justify-items: center
  p
    /*font-family: Segoe UI, sans-serif
    color: $font-dark
    font-weight: 500


.loginInputs
  height: 4rem
  padding: 0 20px
  background: #ECF0F3
  box-shadow: inset -4px -4px 8px #FFFFFF, inset 4px 4px 8px #D2D8E5
  border-radius: 4px
  border: none
  color: $font-dark
  font-family: "Poppins", Roboto, sans-serif
  font-size: 22px